h1 {
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-style: italic;
  font-size: 24px;
}

#content {
  background-color: #A9A9A9;
  margin: 0 auto;
  width: 65%;
  margin-top: 75px;
  margin-bottom: 75px;
  font-family: 'Ubuntu', sans-serif;
}

#content2 {
  padding: 0% 12% 0% 12%;
}

#p1 {
  padding-top: 20px;
}

